@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar,
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

@layer base {
	:root {
		--yellow: #ffca42;
		--white: #f6f8fc;
		--ash: #969aa0;
		--blue: #1667fe;

		--h1: clamp(60px, 4vw, 6rem);
		--h2: calc(var(--h1) * 0.7);
		--h3: calc(var(--h1) * 0.5);
		--p: calc(var(--h1) * 0.3);
		--sub__text: calc(var(--h1) * 0.1);

		--montserrat: "Montserrat", sans-serif;
		--nunito: "Nunito", sans-serif;
		--quicksand: "Quicksand", sans-serif;
		--jost: "Jost", sans-serif;
		--nunito: "Nunito", sans-serif;

		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply overflow-x-hidden bg-background text-foreground;
	}
	a {
		font-family: var(--nunito);
	}

	.video__container::before {
		content: "";
		position: absolute;
		inset: 0;
		background: radial-gradient(
			circle farthest-corner at right,
			transparent -10%,
			white 100%
		);
	}
	.video__container::after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 60px;
		left: 0;
		right: 0;
		background: linear-gradient(to bottom, transparent, white);
	}
	.left__shader {
		content: "";
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		width: 80px;
		height: 100%;
		background: linear-gradient(to left, transparent, white);
	}

	h1 {
		font-family: var(--montserrat);
		letter-spacing: -0.975px;
		line-height: 130%;
	}
	h2 {
		font-family: var(--nunito);
		line-height: 130%; /* 71.5px */
		letter-spacing: -0.825px;
	}
	h3 {
		font-family: var(--nunito);
		line-height: 130%; /* 58.5px */
		letter-spacing: -0.675px;
	}

	p {
		font-family: var(--nunito);
		line-height: 170%;
		letter-spacing: -0.19px;
	}

	.small_text {
		font-family: var(--quicksand);
	}
}
@layer utilities {
	/* .marquee {
		mask-image: linear-gradient(
			to right,
			hsl(0% 0% 0% / 0),
			hsl(0% 0% 0% / 1) 10%,
			hsl(0% 0% 0% / 1) 90%,
			hsl(0% 0% 0% / 0)
		);
	} */
	.marquee::after,
	.marquee::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 200px;
	}
	.marquee::before {
		left: 0;
		top: 0;
		background: linear-gradient(to right, white, transparent);
		z-index: 6;
	}
	.marquee::after {
		right: 0;
		top: 0;
		background: linear-gradient(to right, transparent, #ffffff);
	}

	.animate__rotateIn {
		animation: animate__rotateIn 0.6s ease-in-out forwards;
	}

	.animate__rotateOut {
		animation: animate__rotateOut 0.6s ease-in-out forwards;
	}

	.logo_carousel {
		animation: carousel 60s linear infinite;
	}

	@keyframes animate__rotateIn {
		from {
			transform: rotate(0deg); /* Start from no rotation */
		}
		to {
			transform: rotate(90deg); /* Rotate 360 degrees */
		}
	}

	@keyframes animate__rotateOut {
		from {
			transform: rotate(0deg); /* Start from no rotation */
		}
		to {
			transform: rotate(-90deg); /* Rotate -360 degrees (counter-clockwise) */
		}
	}

	@keyframes carousel {
		from {
			left: translateX(0);
		}

		to {
			transform: translateX(-100%);
		}
	}

	@media screen and (max-width: 768px) {
		.video__container::before {
			content: "";
			position: absolute;
			inset: 0;
			background: radial-gradient(
				circle farthest-corner at center,
				transparent -10%,
				white 100%
			);
		}
	}
}
