@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ojuju:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar,
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
:root {
	--yellow: #ffca42;
	--white: #f6f8fc;
	--blue: #1b3764;
	--ash: #969aa0;

	--h1: 4.063rem;
	--h2: 3.8125rem;
	--h3: 2.8125rem;
	--h4: 2rem;
	--h5: 1.5rem;
	--h6: 1.375rem;
	--p: 1.1875rem;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	html.lenis {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto;
	}
	.lenis.lenis-smooth[data-lenis-prevent] {
		overscroll-behavior: contain;
	}
	.lenis.lenis-stopped {
		overflow: hidden;
	}
	h1 {
		font-size: var(--h1);
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 84.5px */
		letter-spacing: -0.975px;
		font-family: "Ojuju", serif;
	}
	h2 {
		font-family: "Ojuju", serif;
		font-size: var(--h2);
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 71.5px */
		letter-spacing: -0.825px;
	}
	h3 {
		font-family: "Nunito", serif;
		font-size: var(--h3);
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 58.5px */
		letter-spacing: -0.675px;
	}
	h4 {
		font-family: "Nunito", serif;
		font-size: var(--h4);
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 41.6px */
		letter-spacing: -0.48px;
	}
	h5 {
		font-family: "Nunito", serif;
		font-size: var(--h5);
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 31.2px */
		letter-spacing: -0.36px;
	}
	h6 {
		font-family: "Nunito", serif;
		font-size: var(--h6);
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 28.6px */
		letter-spacing: -0.33px;
	}
	p {
		font-family: "Nunito", sans-serif;
		font-size: var(--p);
		font-style: normal;
		font-weight: 400;
		line-height: 170%; /* 32.3px */
		letter-spacing: -0.19px;
	}
}
@layer utilities {
	.nunito {
		font-family: "Nunito", sans-serif;
	}
	.ojuju {
		font-family: "Ojuju", sans-serif;
	}

	.animate__rotateIn {
		animation: animate__rotateIn 0.6s ease-in-out forwards;
	}

	.animate__rotateOut {
		animation: animate__rotateOut 0.6s ease-in-out forwards;
	}

	.menu {
		/* clip-path: circle(0% at 50% 50%); */
		height: 100svh;
		inset: 0;
		pointer-events: none;
		/* opacity: 0; */
	}

	@keyframes animate__rotateIn {
		from {
			transform: rotate(0deg); /* Start from no rotation */
		}
		to {
			transform: rotate(90deg); /* Rotate 360 degrees */
		}
	}

	@keyframes animate__rotateOut {
		from {
			transform: rotate(0deg); /* Start from no rotation */
		}
		to {
			transform: rotate(-90deg); /* Rotate -360 degrees (counter-clockwise) */
		}
	}
}

/* style={{ clipPath: "polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%)" }} */
/* clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
ease: "Power2.easeOut", */
